body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 2rem;
  color: #333;
}
/*Create Film Style*/
.add_newFilm_btn{ 
  position: absolute;
  top: 150px;
  right: 20px;
  width:fit-content;
  height: fit-content;
  background-color: #009148;
  font-size: 30px;
  cursor: pointer;
}
.add_newFilm_btn:hover{
  background-color: green;
}
.add_newFilm_popup{
  display: none;
  position: fixed;
  inset: 0; 
  background-color: rgba(0, 0, 0, 0.5);
}
.add_newFilm_btn{
  
  width:fit-content;
  height: fit-content;
  margin-top: 400px;
  background-color: green;
  font-size: 30px;
  cursor: pointer;
   
}
.popup-content{
  position: relative;
  background-color: #fefefe;
  border:1px solid #fefefe ;
  width: 50%;
  border-radius: 5px;
  padding: 20px;
  margin: 20% auto;

}
.close_popup_btn{
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 32px;
  font-weight: light;
  cursor: pointer;
}
.close_popup_btn:hover,
.close_popup_btn:focus{
  color: #c60f0f;
  font-weight: bold;
  text-decoration: none;
}